:root {
  --color-background: #F0F0F7;
  --color-primary-lighter: #9871F5;
  --color-primary-light: #916BEA;
  --color-primary: #8257E5;
  --color-primary-dark: #774DD6;
  --color-primary-darker: #6842C2;
  --color-secundary: #04D361;
  --color-secundary-dark: #04BF58;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #D4C2FF;
  --color-text-title: #32264D;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;

  font-size: 45%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100vh;
}

body{
  background: var(--color-primary);
  }

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}

body,input,button,textarea{
  font:500 1.6rem Roboto;
}

.App{
  max-width: 700px;
  width: 100vw;
  height: 100vh;
  display:block;
  justify-content: center;
  align-items: center;
  color: var(--color-text-in-primary);
  background: var(--color-primary);
}

@media(min-width: 700px){
  :root{
    font-size: 65%;
  }
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.2rem 0;
  font: 700 2.0rem Roboto;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-button-text);
  /* background: var(--color-secundary-dark); */
  background: var(--color-text-complement);

}

.option{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.option button{
  padding: 0 1.6rem;
  width: 20rem;
  height: 5.6rem;
  border:0;
  border-radius: 1rem;
  font: 700 2rem Roboto;
  transition: 0.2s;
}

.option button:hover{
  background: var(--color-secundary);
}

.notes{
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-evenly;
  align-items: center;
  border-radius: 2rem;
    }

.notes button{
  padding: 0 1.6rem;
  width: 15rem;
  border: 0;
  height: 5.6rem;
  border-radius: 1rem;
  font: 700 rem Roboto;
  transition: 0.2s;
  margin: 0 auto 3rem;
  
}

.notes button:hover{
  background: var(--color-text-title);
}

.scale, .chord{
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-evenly;
  align-items: center;
}

.scale button, .chord button{
  
  padding: 0 1.6rem;
  border: 0;
  height: 5.6rem;
  border-radius: 1rem;
  font: 700 2rem Roboto;
  transition: 0.2s;
  margin: 0 auto 1rem;
}

.scale button:hover, .chord button:hover{
  background: var(--color-text-base);
}

.selected{
  display: flex;
  justify-content:  center;
  align-items: center;
  background: var(--color-primary-lighter);
  border-radius: 2rem;
  width: max-content;
  padding: 2rem;
  border: 0;
  height: max-content;
  border-radius: 1rem;
  font: bolder 6rem Roboto;
  color:var(--color-background);
  transition: 0.2s;
  margin: 0 auto;
}

.selected:hover{
  background: var(--color-box-base);
  color: var(--color-secundary-dark);
  cursor: pointer;
}

.result{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }

.resultNotes {
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-evenly;
  align-items: center;
}

.resultNotes button{

  padding: 0 1.6rem;
  width: 7rem;
  border: 0;
  height: 5.6rem;
  border-radius: 50%;
  font: 700 rem Roboto;
  transition: 0.2s;
  margin: 1rem auto 0rem;
}

.resultNotes button:hover{
  background: var(--color-primary-dark);
}

h3, span{
  display: flex;
  justify-content: space-evenly;
  }